<%- include('layout/header.ejs', { subject: subject }) %>

<tr>
    <td valign="top" style="text-align:center;background-color:#fff;padding:0 20px 20px;">
        <span style="color:#3e2837;font-size: 22px;font-family:'Manrope', sans-serif;font-weight:700;">
            <b> <%=subject%> </b>
        </span>
    </td>
</tr>
<tr>
    <td valign="top" style="color:#92778a;text-align:center;font-size:16px;font-family:'Manrope', sans-serif;font-weight:500;background-color:#fff;padding:0 30px;">
        <p>Error: Something went wrong while executing the <%=cron%>cron job. Kindly check the logs and do the needful</p>
    </td>
</tr>
<tr>
    <td valign="top" style="padding-top:30px;text-align:center;background-color:#fff;">
        <span>
          
        </span>
    </td>
</tr>

<%- include('layout/footer.ejs') %>