                <tr>
                    <td valign="top" style="color:#92778a;font-size:16px;font-family:'Manrope', sans-serif;font-weight:500;background-color:#fff;padding:0 30px;">
                        <p>If you have any questions or need further assistance, please feel free to contact our support team.</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="color:#92778a;font-size:16px;font-family:'Manrope', sans-serif;font-weight:500;background-color:#fff;padding:0 30px;">
                        <p>Best Regards,</p>
                        <p>KGC Team</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="color:#626262;text-align:center;font-size: 12px;line-height:24px;font-family:'Manrope', sans-serif;font-weight:500;padding:30px 20px;">
                        <span> Sent by
                            <a href="<%- process.env.FRONTEND_BASE_URL %>" target="_blank" style="color:#626262;"><%=process.env.APP_NAME%></a>
                        </span>
                        <br>
                            <span style="display:block;">Copyright &copy; <%= new Date().getFullYear(); %> <%=process.env.APP_NAME%>, All Rights Reserved</span>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>